/*
description {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
*/

textbox[type="number"] {
    width: 60px;
}

textbox#url, textbox#xpath {
    width: 100%;
}

radiogroup#how-to-popup {
    margin-left: 30px;
}

radiogroup#shortcut-modifier {
    float: left;
    width: 20em;
}
